<h2>To Do List Today</h2>
<div class="to-do-list">
  @for (task of tasks; track task) {
  <div id="task-{{ task.id }}" class="task">
    <span>
      {{ task.title }}
    </span>
    <span class="actions">
      <input id="task-input-{{ task.id }}" type="checkbox" />
      <button id="btn-delete-{{ task.id }}" (click)="onDeleteTask(task.id)" class="btn-delete">
        x
      </button>
    </span>
  </div>
  }
</div>

<div>
  <form [formGroup]="toDoForm" class="actions">
    <input type="text" formControlName="taskName" placeholder="Add new task" />
    <button id="btn-add-task" (click)="onAddTask()">Add</button>
  </form>
</div>
